[buildout]
versions = versions
extends = versions.cfg
show-picked-versions = true
parts = sphinx
        sphinx-cmd

[sphinx]
recipe = zc.recipe.egg:script
eggs = sphinx
       crate-docs-theme
relative-paths=true

[sphinx-cmd]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/sphinx
mode = 0755
input = inline:
    #!/bin/sh
    declare -i RESULT=0
    echo "\033[1mCleaning output folder ...\033[0m"
    rm -rf out/ && rm -rf clients/out/
    RESULT+=$?
    echo "\033[1;44mBuilding docs (html) ...\033[0m"
    ${buildout:bin-directory}/sphinx-build -b html -E . ${buildout:directory}/out/html
    RESULT+=$?
    echo "\033[1;44mBuilding docs (text) ...\033[0m"
    ${buildout:bin-directory}/sphinx-build -b text -E . ${buildout:directory}/out/text
    RESULT+=$?
    exit $RESULT
